@font-face {
  font-family: "RobotoMono";
  src: url("fonts/RobotoMono-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "RobotoMono";
  src: url("fonts/RobotoMono-Medium.ttf") format("truetype");
  font-weight: medium;
}

@font-face {
  font-family: "RobotoMono";
  src: url("fonts/RobotoMono-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "OpenSans";
  src: url("fonts/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: semibold;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;

  display: grid;
  grid-template-rows: 4rem calc(100vh - 11.5rem) 8.5rem 3rem;
  grid-template-areas:
    "header"
    "main"
    "form"
    "footer";
}

.header {
  background: rgb(25, 26, 29);
  background: linear-gradient(
    160deg,
    rgba(25, 26, 29, 1) 22%,
    rgba(2, 3, 6, 1) 68%
  );
  font-family: RobotoMono;
  font-weight: bold;
  font-size: 1.25rem;
  color: #ff4000;
  text-align: center;
  grid-area: header;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  /* max-width: 75rem; */
  position: relative;
  background: rgb(2, 3, 6);
  background-image: url("images/heroImg.jpg");
  background-position: center;
  background-size: auto 100%;
  background-repeat: no-repeat;
  grid-area: main;
  transition: background 0.5s ease;
}

.backdrop {
  display: none;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.facts {
  display: none;
  font-family: OpenSans;
  font-size: 1.2rem;
  letter-spacing: 0.05rem;
  word-spacing: 0.05rem;
  font-weight: 400;
  color: white;
  padding: 0.5rem;
  background: gray;
  overflow: auto;
  width: 50%;
  max-height: 90%;
  border: 10px ridge rgba(49, 109, 164, 0.76);
  border-radius: 0.3rem;
  z-index: 10;
  transition: width 0.5s ease;
}
.facts p {
  word-break: break-all;
  word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
}
.facts p::first-letter {
  font-family: BungeeInline;
  color: #ff4000;
  font-size: 2.4rem;
  vertical-align: bottom;
  line-height: 0.9em;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: form;
  background: rgb(2, 3, 6);
  background: linear-gradient(
    350deg,
    rgba(2, 3, 6, 1) 26%,
    rgba(25, 26, 29, 1) 87%
  );
}
.button-container {
  /* width: 80%; */
  max-width: 20rem;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 6rem 8rem 4rem;
  grid-template-areas:
    "random category category-button"
    "random keyword keyword-button";
}
.random {
  grid-area: random;
}
.category {
  grid-area: category;
}
.category-button {
  grid-area: category-button;
}
.keyword {
  grid-area: keyword;
}
.keyword-button {
  grid-area: keyword-button;
}

.footer {
  background: rgb(25, 38, 77);
  background: linear-gradient(
    330deg,
    rgba(25, 38, 77, 1) 22%,
    rgba(59, 61, 68, 1) 68%
  );
  grid-area: footer;
  display: flex;
  align-items: center;
}

footer > div {
  width: 80%;
  max-width: 20rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
footer > div img {
  width: 30px;
}

.btn {
  border: none;
  border-radius: 0.3rem;
  background-color: #4086bf;
  color: #ff6e3d;
  font-family: RobotoMono;
  font-weight: medium;
  font-size: 1.124rem;
  padding: 0.5rem 0;
}
input.btn {
  text-align: center;
  outline: none;
}

select.btn option,
input.btn,
select.btn {
  text-align: center;
  outline: none;
}

input.btn::placeholder {
  color: #ff6e3d;
  font-style: italic;
}

button:active {
  color: #4086bf;
  background-color: #ff6e3d;
}

.open {
  display: block !important;
  opacity: 1 !important;
}

@media only screen and (min-device-width: 320px) and (orientation: landscape) {
  body {
    display: grid;
    grid-template-rows: 4rem calc(100% - 3rem) 3rem;
    grid-template-columns: 10fr 3fr;
    grid-template-areas:
      "header header"
      "main form"
      "footer footer";
  }
  .img {
    background-position: 50% 25%;
    background-size: 200%;
  }
  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    /* max-width: 75rem; */
    position: relative;
    background: rgb(2, 3, 6);
    background-image: url("images/heroImg.jpg");
    /* background-position: center;
    background-size: auto 100%; */
    background-position: 50% 25%;
    background-size: 100% auto;
    background-repeat: no-repeat;
    grid-area: main;
    transition: background 0.5s ease;
  }

  .button-container {
    width: 3rem;
    display: grid;
    gap: 0.5rem;
    width: 80%;
    grid-template-columns: 70% calc(30% - 0.5rem);
    grid-template-areas:
      "random random"
      "category category-button"
      "keyword keyword-button";
  }

  .btn {
    border: none;
    border-radius: 0.3rem;
    background-color: #4086bf;
    color: #ff6e3d;
    font-family: RobotoMono;
    font-size: 1.124rem;
    padding: 0.5rem 0;
  }
}
