@font-face {
  font-family: "RobotoMono";
  src: url("fonts/RobotoMono-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "RobotoMono";
  src: url("fonts/RobotoMono-Medium.ttf") format("truetype");
  font-weight: medium;
}

@font-face {
  font-family: "RobotoMono";
  src: url("fonts/RobotoMono-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "OpenSans";
  src: url("fonts/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: semibold;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: 4rem calc(100vh - 11.5rem) 8.5rem 3rem;
  grid-template-areas:
    "header"
    "main"
    "form"
    "footer";

  height: 100%;
}

header {
  background: rgb(25, 26, 29);
  background: linear-gradient(
    160deg,
    rgba(25, 26, 29, 1) 22%,
    rgba(2, 3, 6, 1) 68%
  );
  font-family: RobotoMono;
  font-weight: bold;
  font-size: 1.25rem;
  color: #ff4000;
  text-align: center;
}

.img {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 75rem;
  background: rgb(2, 3, 6);
  background-image: url("images/heroImg.jpg");
  /* background-position: 50% 60%;
  background-size: 220%; */
  background-position: center;
  /* background-size: cover; */
  background-size: auto 100%;
  background-repeat: no-repeat;
  grid-area: main;
  position: relative;
  transition: background 0.5s ease;
}

.backdrop {
  display: none;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.fact {
  display: none;
  font-family: OpenSans;
  font-weight: 600;
  color: white;
  padding: 0.5rem;
  background: gray;
  /* text-align: center; */
  overflow: auto;
  width: 50%;
  max-height: 90%;
  /* position: absolute;
  max-height: 90%;
  transform: translateY(-50%);
  left: 5%;
  right: 5%;
  left: 25%;
  right: 25%;
  top: 50%; */
  border: 10px ridge rgba(49, 109, 164, 0.76);
  border-radius: 0.3rem;
  z-index: 10;
  transition: width 0.5s ease, height 0.5s ease;
}
.fact p {
  word-break: break-all;
  word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
}
.fact p::first-letter {
  color: #ff4000;
  font-size: 3rem;
  vertical-align: bottom;
  line-height: 0.9em;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: form;
  background: rgb(2, 3, 6);
  background: linear-gradient(
    350deg,
    rgba(2, 3, 6, 1) 26%,
    rgba(25, 26, 29, 1) 87%
  );
}
.grid-container {
  width: 80%;
  max-width: 20rem;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 6rem 8rem 4rem;
  grid-template-areas:
    "random category category-button"
    "random keyword keyword-button";
}
.random {
  grid-area: random;
}

footer {
  background: rgb(25, 38, 77);
  background: linear-gradient(
    330deg,
    rgba(25, 38, 77, 1) 22%,
    rgba(59, 61, 68, 1) 68%
  );
  grid-area: footer;
  display: flex;
  align-items: center;
}

footer > div {
  width: 80%;
  max-width: 20rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
footer > div img {
  width: 30px;
}

.btn {
  border: none;
  border-radius: 0.3rem;
  background-color: #4086bf;
  color: #ff6e3d;
  font-family: RobotoMono;
  font-weight: medium;
  font-size: 1.124rem;
  padding: 0.5rem 0;
}
input.btn {
  text-align: center;
  outline: none;
}

select.btn option,
input.btn,
select.btn {
  text-align: center;
  outline: none;
}

input.btn::placeholder {
  color: #ff6e3d;
  font-style: italic;
}

button:active {
  color: #4086bf;
  background-color: #ff6e3d;
}

.open {
  display: block !important;
  opacity: 1 !important;
}
